body{

    background:#f8f9fa;

}

.navbar-brand{

    font-weight:bold;
    font-size:28px;

}

.card{

    border:none;
    transition:0.3s;

}

.card:hover{

    transform:translateY(-5px);

}

footer{

    margin-top:80px;

}