body{
    background:#f8f9fa;
}

.card{
    border:none;
    border-radius:15px;
}

.card:hover{
    transform:translateY(-5px);
    transition:.3s;
}

.navbar-brand{
    font-size:1.5rem;
}

h1,h2,h3{
    font-weight:700;
}

footer{
    margin-top:80px;
}

.btn{
    border-radius:10px;
}